{% extends 'base.html.twig' %}

{% block title %}Portfolio - Kevin Lavenant - Identification{% endblock %}

{% block body %}
<div class="login-container">
    <form method="post" class="login-form">
        {% if error %}
        <div class="error-message">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
        {% endif %}

        {% if app.user %}
        <div class="user-logged">
            Vous êtes connecté avec <span class="user-identifier">{{ app.user.userIdentifier }}</span>,
            <a href="{{ path('admin') }}" class="logout-link">accèdez au dashboard</a> ou
            <a href="{{ path('app_logout') }}" class="logout-link">déconnectez-vous</a>.
        </div>
        {% else %}
        <h1 class="login-title">S'identifier</h1>

        <div class="form-group">
            <label for="username" class="form-label">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-input"
                autocomplete="email" required autofocus>
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-input" autocomplete="current-password"
                required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="login-button">
            Se connecter
        </button>
        {% endif %}
    </form>
</div>
{% endblock %}